<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684109918260-esm8g0b95hl9eim9nc7djksjsi0kfs6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684109918260-esm8g0b95hl9eim9nc7djksjsi0kfs6h</string>
	<key>API_KEY</key>
	<string>AIzaSyDXTvsYoglVOzgnqCaaXWJGJupkHIEC-ys</string>
	<key>GCM_SENDER_ID</key>
	<string>684109918260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatspp-backend-ed4cd</string>
	<key>STORAGE_BUCKET</key>
	<string>whatspp-backend-ed4cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684109918260:ios:b628f9808ed3b6af7e9a61</string>
</dict>
</plist>